h1{
  color:black;
  font-family: 'Times New Roman', Times, serif, serif;


}
body {
margin: 0;
font-family: 'Times New Roman', Times, serif, serif;
}

header {

color: #fff;
padding: 15px 0;
text-align: center;
}

nav {
display: inline-block;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
display: inline;
}

nav ul li a {
color: black;
text-decoration: none;
padding: 10px 20px;
display: inline-block;
transition: background-color 0.3s;
}

nav ul li a:hover {
background-color: #6f9b59;
}